{
  "root": true,
  "parserOptions": {
    "ecmaVersion": "latest"
  },
  "plugins": [
    "@babel",
    "@brettz9",
    "@graphql-eslint",
    "@html-eslint",
    "@next/next",
    "@shopify",
    "@typescript-eslint",
    "anti-trojan-source",
    "array-func",
    "ava",
    "babel",
    "canonical",
    "chai-expect",
    "chai-friendly",
    "compat",
    "cypress",
    "decorator-position",
    "es-x",
    "eslint-comments",
    "etc",
    "ext",
    "extended",
    "flowtype",
    "fp",
    "fsa",
    "ft-flow",
    "html",
    "import",
    "inferno",
    "jasmine",
    "jest",
    "jest-async",
    "jest-dom",
    "jest-formatting",
    "jsdoc",
    "json",
    "json-es",
    "jsonc",
    "jsx-a11y",
    "lodash",
    "lodash-fp",
    "markdown",
    "mediawiki",
    "mocha",
    "mocha-cleanup",
    "modules-newline",
    "n",
    "no-constructor-bind",
    "no-explicit-type-exports",
    "no-jquery",
    "no-secrets",
    "no-unsanitized",
    "no-use-extend-native",
    "node",
    "optimize-regex",
    "prefer-object-spread",
    "prettier",
    "promise",
    "putout",
    "qunit",
    "ramda",
    "react",
    "react-form-fields",
    "react-hook-form",
    "react-hooks",
    "react-native",
    "react-perf",
    "react-redux",
    "redux-saga",
    "regexp",
    "scanjs-rules",
    "security",
    "simple-import-sort",
    "sonarjs",
    "sort-class-members",
    "standard",
    "switch-case",
    "testing-library",
    "typescript-sort-keys",
    "unicorn",
    "vue",
    "wdio",
    "yml"
  ]
}
