
name: Deploy to Pages

on:
  push:
  workflow_dispatch:

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: GitHub Pages action
        uses: peaceiris/actions-gh-pages@v3
